# Para SQLite Local:
DATABASE_URL="file:./dev.db"

# Para PostgreSQL em Nuvem (Supabase / Neon / Railway):
# DATABASE_URL="postgresql://user:password@host:5432/gucardb?schema=public"

JWT_SECRET="seu-segredo-jwt-aqui"
NEXT_PUBLIC_APP_NAME="Autoelétrica GUCAR"
